<%= form_with(model: gig, local: true) do |form| %>
  <% if gig.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gig.errors.count, "error") %> prohibited this gig from being saved:</h2>

      <ul>
      <% gig.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="tile is-ancestor">
  <div class="tile is-6 is-vertical is-parent">
    <div class="tile is-child box">

      <p class="title">Details</p>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :title, class: 'label' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <%= form.text_field :title, class: 'input' %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :where, class: 'label' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <%= form.text_field :where, class: 'input' %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :when, class: 'label' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <%= form.datetime_select :when, class: 'input' %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :gig_admin, class: 'label' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <% options = options_from_collection_for_select(@gig_admins, 'id', 'first_name') %>
              <%= form.select :gig_admin_id,  options, {}, { class: 'select is-warning' } %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :event_contact, class: 'label' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <%= form.text_field :event_contact, class: 'input' %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :high_payer, class: 'checkbox' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <%= form.check_box :high_payer, class: 'checkbox' %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :charity, class: 'checkbox' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <%= form.check_box :charity, class: 'checkbox' %>
            </div>
          </div>
        </div>
      </div>

      <div class="field is-horizontal">
        <div class="field-label">
        <%= form.label :confirmed, class: 'checkbox' %>
        </div>
        <div class="field-body">
          <div calss="field">
            <div class="control">
              <%= form.check_box :confrimed, class: 'checkbox' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">About</p>
       <div class="field">

        <%= form.rich_text_area :about_r %>
      </div>
    </div>
  </div>
</div>
  <div class="actions">
    <%= form.submit   class: 'button' %>
  </div>

<% end %>