<h1 class="title"><%= @gig.title %>
<% if @gig.confirmed %>
<span class="tag is-success is-large">Confirmed</span>
<% else %>
<span class="tag is-info is-large">Unconfirmed</span>

<% end %>
<% if @gig.high_payer %><span class="tag is-small">£ $ €</span><% end %>
<% if @gig.charity %><span class="tag is-small">Charity</span><% end %>

</h1>
<div class="tile is-ancestor">
  <div class="tile is-6 is-vertical is-parent">
    <div class="tile is-child box">
      <p class="title">Details</p>
    <p>
      <strong>Where:</strong>
      <%= @gig.where %>
    </p>

    <p>
      <strong>When:</strong>
      <%= @gig.when.to_formatted_s(:short) %>
    </p>

    <p>
      <strong>Band contact:</strong>
      <%= @gig.gig_admin.first_name %>
    </p>

    <p>
      <strong>Event contact:</strong>
      <%= @gig.event_contact %>
    </p>    </div>


    <div class="tile is-child box">
      <p class="title">Players Signed Up</p>
      <p>
      <strong>Drums: <span class="tag"><%= @gig.players.drummers.count %> </span></strong>
      <%= @gig.players.drummers.map { |m| m.first_name}.to_sentence %>
      </p>
      <p>
      <strong>Bass: <span class="tag"><%= @gig.players.basses.count %> </span></strong>
      <%= @gig.players.basses.map { |m| m.first_name}.to_sentence %>
      </p>
      <p>
      <strong>Trombones: <span class="tag"><%= @gig.players.boners.count %> </span></strong>
      <%= @gig.players.boners.map { |m| m.first_name}.to_sentence %>
      </p>
      <strong>Trumpeters: <span class="tag"><%= @gig.players.trumpeters.count %> </span></strong>
      <%= @gig.players.trumpeters.map { |m| m.first_name}.to_sentence %>
      </p>
      <p>
      <strong>Tenor Saxes: <span class="tag"><%= @gig.players.tenor_saxes.count %> </span></strong>
      <%= @gig.players.tenor_saxes.map { |m| m.first_name}.to_sentence %>
      </p>
      <p>
      <strong>Alto Saxes: <span class="tag"><%= @gig.players.alto_saxes.count %> </span></strong>
      <%= @gig.players.alto_saxes.map { |m| m.first_name}.to_sentence %>
      </p>
      <p>
      <strong>Soprano Saxes: <span class="tag"><%= @gig.players.soprano_saxes.count %> </span></strong>
      <%= @gig.players.soprano_saxes.map { |m| m.first_name}.to_sentence %>
      </p>
    </div>
  </div>


  <div class="tile is-parent">
    <div class="tile is-child box">
      <p class="title">About</p>
      <p><%= @gig.about_r %></p>
    </div>
  </div>
</div>

<% if @gig.players.include? current_member %>
<%= link_to 'Drop Out', gig_dropout_path, id: "gig_dropout"  %> |
<% else %>
<%= link_to 'Sign Up', gig_signup_path, id: "gig_signup"  %> |
<% end %>

<% if can? :edit, :gigs %><%= link_to 'Edit', edit_gig_path(@gig) %> |<% end %>
<%= link_to 'Back', gigs_path %>
