<h1 class="title"><%= @gig.title %></div>

<p>
  <strong>Where:</strong>
  <%= @gig.where %>
</p>

<p>
  <strong>When:</strong>
  <%= @gig.when %>
</p>

<p>
  <strong>Band contact:</strong>
  <%= @gig.gig_admin.first_name %>
</p>

<p>
  <strong>Event contact:</strong>
  <%= @gig.event_contact %>
</p>

<p>
  <strong>Confirmed:</strong>
  <%= @gig.confirmed %>
</p>

<p>
<strong>Trumpeters:</strong>
<% @gig.trumpet_players.each do |player| %>
<%= player.first_name %>
<% end %>
</p>
<p>
<strong>Tenor Saxes:</strong>
<% @gig.tenor_sax_players.each do |player| %>
<%= player.first_name %>
<% end %>
</p>

<%= link_to 'Signup', gig_signup_path, id: "gig_signup"  %> |
<% if can? :edit, :gigs %><%= link_to 'Edit', edit_gig_path(@gig) %> |<% end %>
<%= link_to 'Back', gigs_path %>
